{% assign day = include.day %}
{% assign post = include.post %}
{% assign id = day | date: '%Y-%m-%d' %}
<article class="present {% if post %}openable opened{% endif %}" id="day-{{ id }}">
  <div class="present__pane {% if post %}shine{% endif %}">
    <date class="present__date" datetime="{{ day | date: '%FT%T+01:00' }}">
      {{ day | date: '%e' }}
    </date>
  </div>

  {% if post %}
  <div class="present__content flexbox-row">
    <div class="present-textStyle">
      <a href="{{ post.url | relative_url }}.html" rel="bookmark" data-tracking-id="{{ id }}">
        <h2>
          {{ post.title }}
        </h2>

        {{ post.excerpt }}

        <div style="font-size: 2em; text-align: center">🎁</div>
      </a>
    </div>
  </div>
  {% endif %}
</article>
